<div class="row">
  <app-review *ngFor="let review of reviews" [review]="review" class="col-md-6"></app-review>
</div>
<div class="row">
  <div class="col-md-12 review-form center" *ngIf="this.isLoggedIn">
    <form [formGroup]="reviewForm" (ngSubmit)="create()">
      <h2>Оставить отзыв</h2>
      <div class="inputs">
        <mat-form-field>
          <textarea matInput formControlName="text" placeholder="Текст"></textarea>
        </mat-form-field>

        <mat-form-field class="rating">
          <input type="number" matInput formControlName="rating" placeholder="Оценка">
        </mat-form-field>
      </div>

      <div class="submit-button">
        <button [disabled]="!reviewForm.valid" color="accent" mat-raised-button>Отправить</button>
        <mat-error class="invalid-creds" *ngIf="invalidCredentials">error</mat-error>
      </div>
    </form>
  </div>
</div>