
<div class="login-container">
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row">
      <mat-form-field class="col-md-12">
        <input matInput formControlName="username" placeholder="Username" >
      </mat-form-field>

      <mat-form-field class="col-md-12">
        <input type="password" matInput formControlName="password" placeholder="Password" >
      </mat-form-field>

      <div class="col-md-12">
        <button color="accent" mat-raised-button>Login</button>
        <mat-error class="invalid-creds" *ngIf="invalidCredentials">Invalid login or password</mat-error>
      </div>
    </div>
  </form>
</div>