<div class="row main">
  <div class="col-md-3 p-0 center">
    <img class="logo" src="{{channel.image}}" alt="{{channel.name}}">
  </div>
  <div class="col-md-9 channel-info">
    <div class="channel-name">
      <a class="name" [routerLink]="['channel', channel.link]">{{channel.name}}</a>
      <a class="link center" href="https://t.me/{{channel.link}}" role="button" target="_blank">@{{channel.link}}</a>
    </div>
    <div class="channel-text">
      <p class="description">
        {{channel.description}}
      </p>
    </div>

    <div class="channel-stats">
      <div class="stat-box">
        <p class="stat-name">Подписчики:</p>
        <p class="stat">{{channel.subscribers}}</p>
      </div>

      <div class="stat-box">
        <p class="stat-name">Охват поста:</p>
        <p class="stat">{{channel.views}}</p>
      </div>

      <div class="stat-box">
        <p class="stat-name">Дневной охват:</p>
        <p class="stat">{{channel.views}}</p>
      </div>

      <div class="stat-box">
        <p class="stat-name">Цитаты:</p>
        <p class="stat">7</p>
      </div>

      <div class="stat-box">
        <p class="stat-name">ERR:</p>
        <p class="stat">{{channel.err}}%</p>
      </div>
    </div>

  </div>
</div>