.main {
    margin-top: 30px;

    .logo { 
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 0px 10px 20px -5px #00000012;
    }

    .channel-info {
        padding: 0px;
    
        .channel-name {
            display: flex;
            margin-bottom: 10px;
    
            .name {
                font-family: 'Roboto Black', sans-serif;
                font-size: 35px;
                margin-right: 20px;
                text-decoration: none;
                color: black;
            }
    
            .link {
                font-family: 'Roboto Thin', sans-serif;
                font-size: 20px;
                color: #949494;
                text-decoration: none;
            }
        }
    
        .channel-text {
            margin-bottom: 20px;
            .description {
                font-size: 17px;
                min-height: 60px;
            }
        }
    
        .channel-stats {
            display: flex;
            justify-content: space-between;

            .stat-box {
                box-shadow: 0px 5px 10px 0px #0000000a;
                width: 150px;
                height: 65px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                

                p {
                    display: flex;
                    justify-content: center;
                }

                .stat-name {
                    font-family: 'Roboto Light', sans-serif;
                    font-size: 11px;
                }

                .stat {
                    font-family: 'Roboto Thin', sans-serif;
                    font-size: 30px;
                }
            }
        }
    }
}