<div class="channel">
  <div class="col-md-3 p-0 center">
    <img src="http://www.stickpng.com/assets/images/5842a8fba6515b1e0ad75b03.png" alt="img">
  </div>
  <div class="col-md-9 channel-info">
    <div class="channel-name">
      <p class="name">WebDEV</p>
      <p class="link">@webb_dev</p>
    </div>
    <div class="channel-text">
      <p class="description">
        Канал о web-разработке.
        Полезные ресурсы для Backend и Frontend разработчиков, программирование, новости IT и многое другое.
      </p>
    </div>
  </div>
</div>