<div class="channel">
  <div class="col-md-3 p-0 center">
    <img src="{{channel.image}}" alt="img">
  </div>
  <div class="col-md-9 channel-info">
    <div class="channel-name">
      <p class="name">{{channel.name}}</p>
      <p class="link">{{channel.link}}</p>
    </div>
    <div class="channel-text">
      <p class="description">
        {{channel.description}}
      </p>
    </div>
    <div class="channel-stats">
       <div class="icon-text">
        <mat-icon [inline]="true">people</mat-icon>
        <p>{{channel.subscribers}} <span class="green">(+375)</span></p>
      </div>
      <div class="icon-text">
        <mat-icon [inline]="true">visibility</mat-icon>
        <p>{{channel.views}} <span class="red">(-375)</span></p>
      </div>
      <div class="icon-text">
        <mat-icon [inline]="true">reply</mat-icon>
        <p>7 <span class="green">(+2)</span></p>
      </div>
      <div class="icon-text">
        <mat-icon [inline]="true">star</mat-icon>
        <p>{{channel.err}}% <span class="green">(+12%)</span></p>
      </div>
    </div>
  </div>
</div>