mat-toolbar {
    font-size: 18px;
    height: 60px;
    background-color: white;
    box-shadow: 0px -90px 50px 50px black;
    z-index: 5;
}

.login-page-nav {
    background-color: transparent;
    box-shadow: none;
    color: white;

    a {
        color: white;
    }

    .link-active {
        border-bottom: 1px solid white;
    }
}

.fill {
    flex: 1 1 auto;
}

.logo{
    margin: 0 20px 0 0;
}

a {
    font-family: 'Roboto Light';
    text-decoration: none;
    color: black;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active {
        outline: none;
    }

    mat-icon {
        margin: 0 3px;
    }
}

.link-active {
    border-bottom: 1px solid black;
}