.main {
    margin-top: 25px;
    font-family: 'Roboto Light', sans-serif;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.channel {
    margin-bottom: 30px;
}