@import './theme.scss';
@import '~bootstrap-4-grid';
@import url("https://fonts.googleapis.com/css?family=Roboto");

::-webkit-scrollbar {
    width: 5px;
}
  
::-webkit-scrollbar-track {
    background: #ffffff;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-width {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

.green {
    color: #63C178;
}

.red {
    color: #C16363;
}

