@import './theme.scss';
@import '~bootstrap-4-grid';
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}